{% extends 'base.html.twig' %}

{% block title %}Editing Post{% endblock %}

{% block bread %}
→ <a href="{{ path('app_micro_post_show', {post:post.id}) }}"> Post </a> → edit
{% endblock %}

{% block body %}
{{ include('micro_post/_form.html.twig') }}
{% endblock %}
